# GCP Configuration
GCP_PROJECT_ID='your-gcp-project-id'
# put your GCP credentials json in ./creds_json/ and name it gcp_key.json
GOOGLE_APPLICATION_CREDENTIALS='./creds_json/gcp_key.json'
GCP_GCS_BUCKET='your-gcs-bucket-name'
bq_dataset_name = 'your_bigquery_dataset_name'