credentials       = "./creds_json/gcp_key.json"
project_id        = "project-id"
location          = "EU"
region            = "europe-central2"
bq_dataset_name   = "NY_311_SERVICE_REQUESTS_DATASET"
gcs_bucket_name   = "ny-311-service-requests-bucket-some-suffix"
gcs_storage_class = "STANDARD"